      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">
                {{ user.username }}
              </a>
            </li>
            <li>
              <a href="/admin/">
                管理后台
              </a>
            </li>
            <li>
              <a href="/logout">
                退出
              </a>
            </li>
          </ul>
        </div>
      </div>